* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.fr {
  float: right;
}
/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*IE/7/6*/
}
